<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="timeline">
      
      <% 
      index = 1
      @yak_messages.each do |yak| %>
      <li <%= (index % 2 == 0) ? "class=\"timeline-inverted\"".html_safe : "" %>>
          <%= render :partial => "messages/yak", :locals=>{:yak => yak, :type => "message"}  %>      
      </li>
      <% 
        index += 1
      end 
      %>
      
    </ul>
  </div>
</div>
